@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 288 59% 100%;
    --foreground: 288 51% 5%;
    --muted: 288 36% 87%;
    --muted-foreground: 288 11% 32%;
    --popover: 0 0% 99%;
    --popover-foreground: 288 51% 4%;
    --card: 0 0% 99%;
    --card-foreground: 288 51% 4%;
    --border: 288 3% 91%;
    --input: 288 3% 91%;
    --primary: 288 70% 29%;
    --primary-foreground: 288 70% 89%;
    --secondary: 288 29.3% 85.86%;
    --secondary-foreground: 288 11% 30%;
    --accent: 288 17% 80%;
    --accent-foreground: 288 17% 20%;
    --destructive: 18 99% 27%;
    --destructive-foreground: 18 99% 87%;
    --ring: 288 70% 29%;
    --chart-1: 288 70% 29%;
    --chart-2: 288 11% 90%;
    --chart-3: 288 17% 80%;
    --chart-4: 288 11% 93%;
    --chart-5: 288 73% 29%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark,
  :root[class~="dark"] {
    --background: 288 32% 0%;
    --foreground: 288 35% 100%;
    --muted: 288 36% 13%;
    --muted-foreground: 288 11% 68%;
    --popover: 0 0% 1%;
    --popover-foreground: 0 0% 100%;
    --card: 0 0% 1%;
    --card-foreground: 0 0% 100%;
    --border: 288 3% 12%;
    --input: 288 3% 12%;
    --primary: 288 70% 29%;
    --primary-foreground: 288 70% 89%;
    --secondary: 288 1% 16%;
    --secondary-foreground: 288 1% 76%;
    --accent: 288 10% 26%;
    --accent-foreground: 288 10% 86%;
    --destructive: 18 99% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 288 70% 29%;
    --chart-1: 288 70% 29%;
    --chart-2: 288 1% 16%;
    --chart-3: 288 10% 26%;
    --chart-4: 288 1% 19%;
    --chart-5: 288 73% 29%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
